@font-face
{
    font-family: Waldorf1;
    src: url("../src/assets/fonts/AntroposFreefont-BW2G.ttf")
}

@font-face
{
    font-family: Waldorf2;
    src: url("../src/assets/fonts/BaarPhilos-MVjn.ttf")
}

@font-face
{
    font-family: Waldorf2bold;
    src: url("../src/assets/fonts/BaarPhilosBold-K7jl.ttf")
}

@font-face
{
    font-family: quaseW;
    src: url("src/assets/fonts/Armata-Regular.ttf")
}


@theme
{
    --breakpoint-tablet: 440px;
    --breakpoint-meio: 868px;
    --breakpoint-laptop: 1024px;
    --breakpoint-note: 1440px;
    --breakpoint-4k: 1800px;

    --font-Waldorf1: Waldorf1, "sans-serif";
    --font-Waldorf2: Waldorf2, "sans-serif";
    --font-Waldorf2bold: Waldorf2bold, "sans-serif";
    --font-quaseW: quaseW, "sans-serif"; 
    
    --color-roxo-escuro: #61265A;
    --color-roxo-quase: #A2236A;
    --color-rosa-medio: #E53237;
    --color-rosa-quase: #f7afd3;
    --color-rosa-claro: #efc3dc;
    --color-rosa-pastel: #ffe8f5;
    --color-salmao: #f794a1;
    --color-laranja: #f37647;
}

@import "tailwindcss";