@font-face
{
    font-family: Waldorf1;
    src: url("../src/assets/fonts/AntroposFreefont-BW2G.ttf")
}

@font-face
{
    font-family: Waldorf2;
    src: url("../src/assets/fonts/BaarPhilos-MVjn.ttf")
}

@font-face
{
    font-family: Waldorf2bold;
    src: url("../src/assets/fonts/BaarPhilosBold-K7jl.ttf")
}

@import "tailwindcss";

@theme
{
    --font-Waldorf1: Waldorf1, "sans-serif";
    --font-Waldorf2: Waldorf2, "sans-serif";
    --font-Waldorf2bold: Waldorf2bold, "sans-serif";
    --color-roxo-escuro: #A2236A;
    --color-rosa-medio: #E53237;
    --color-rosa-quase: #f7afd3;
    --color-rosa-claro: #efc3dc;
    --color-rosa-pastel: #ffe8f5;
    --color-salmao: #f794a1;
    --color-laranja: #f37647;
}

:root {
  --color-roxo-escuro: #A2236A;
  --color-rosa-medio: #E53237;
  --color-rosa-quase: #f7afd3;
  --color-rosa-claro: #efc3dc;
  --color-rosa-pastel: #ffe8f5;
  --color-salmao: #f794a1;
  --color-laranja: #f37647;
}